.tag {
	font-weight: bold; margin-right: 1em;
}

.value {
	font-family: monospace;
}

.pre {
	font-family: monospace; white-space: pre;
}

/*.portlet-boundary_EGF_React_Portlet .btn-primary {
	background-color: white
}

.portlet-boundary_EGF_React_Portlet .btn-outline-light:hover {
	background-color: unset;
}*/



